.btn{
    border-radius: 5rem;
    width: 20rem;
    background-color: #20cd8d;
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.btn:hover{
    background-color: #20cd8d;
}

.why-banner-container{
    background-color: #20cd8d;
    border-radius: 3rem;
    width: 33rem;
    height: 20rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    /* margin-left: 5rem; */
    margin-bottom: 2rem;
}


.why-image{
    width: 16rem;
    height: 16rem;
    border-radius: 2rem;
}

.banner-txt{
    margin: 0.75rem;
}
