.sip-page-heading {
  margin-top: 100px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.sip-calculator-container {
  margin-bottom: 100px;
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.calc-param-container {
  display: flex;
  gap: 64px;
  align-items: center;
  margin-left: 64px;
}
.sip-chart-container {
  display: flex;
  flex-direction: row;
  gap: 75px;
}
.sip-chart {
  display: flex;
  width: 50%;
  height: auto;
  margin-left: 64px;
}
.sip-pie {
  width: 25%;
  height: auto;
}

.pie-chart-info {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 800;
  margin-left: 32px;
  display: flex;
  gap: 16px;
}

.input {
  display: flex;
}
.input-box {
  width: 80px;
  height: 28px;
  border: 1.5px solid #20cd8d;
  font-weight: 500;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box:focus {
  border: 0;
}

.sign {
  background-color: #20cd8d;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .sip-page-heading {
    margin-top: 150px;
  }

  .calc-param-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .sip-chart-container {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .sip-chart {
    width: 375px;
    height: auto;
    margin-left: 0;
  }

  .sip-pie {
    width: 250px;
    height: auto;
  }

  .pie-chart-info {
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    gap: 10px;
  }
}
