.intro-container{
    margin-top: 6rem;
    height: 650px;
}
.profile-image{
    float: right;
    width: 450px;
    height: 650px;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.txt-container{
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-wrap: break-word;
    white-space: normal;
    padding: 2rem;
    gap: 1rem;
    margin-left: 5rem;
}

h1{
    
    margin-top: 5rem;
}
p{  
    margin-top: 2rem;
}

.chat-btn{
border-radius: 0.5rem;
border-color: #046b46;
border-width: 0.15rem;
font-size: small;
padding: 0.5rem;
background-color: white;
}
.chat-btn:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.btn-whatsapp{
width: 1rem;
margin-left: 0.75rem;
}