.header {
  background-color: #20cd8d;
  position: fixed !important;
  z-index: 1;
  width: 100%;
  padding: 0.5rem;
  top: 0;
  align-items: center;
}

.brand {
  color: #000;
  font-family: "Gotham";
  font-weight: bold;
  font-size: 2.25rem;
  margin-top: 0.5;
  margin-left: 0.5rem;
  display: inline-block;
  text-decoration: none;
}
.sub-brand {
  font-size: 1.4rem;
  margin-top: -0.75rem;
}
.logo {
  height: 4rem;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

.header-container {
  display: flex;
}

.sub-container {
  display: flex;
  flex-direction: row;
}
.sub-container-mob {
    display: flex;
    flex-direction: column;
  }

.navs {
  display: flex;
  flex-direction: row;
  margin-left: 25rem;
  gap: 1.5rem;
}
.navs-mob {
  display: flex;
  margin-top: 0.5rem;
  /* margin-left: 1.5rem; */
  gap: 1.5rem;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.nav-item::after {
  content: ""; /* Empty content to create the line */
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0; /* Start with no width */
  height: 2px; /* Thickness of the underline */
  background-color: black; /* Color of the underline */
  transition: width 0.3s ease; /* Smooth width animation */
}



.nav-item:hover::after{
  width: 100%;;
}

.icons {
  height: 30px;
  padding: 0.2rem;
}

.icon-text {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
