.offer-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

hr {
    border: none;
    border-top: 5px solid #046b46;
    width: 100%;
    /* height: 20px; */
    /* color: #046b46; */
    /* margin: 20px 0; */

}
.page-heading{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
