.video-page-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  /* margin-left: 5rem; */
  justify-content: center;
  align-items: center;
}

.video {
  width: 500px;
  height: 280px;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .video {
    width: 300px;
    height: 268px;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }
}
