.why-page-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  /* transition: transform 2s ease-in-out; */
  /* gap: 3rem; */
}

.slider{
  display: flex;
  gap: 2rem;
}

.slide-in {
  animation: slideInFromRight 2s ease forwards;
}

/* .stay {
  animation-delay: 2s;
} */

.slide-out {
  animation: slideOutToLeft 2s ease forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.carousel-arrow {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  position: absolute;
  left: 0;
}

.right-arrow {
  position: absolute;
  right: 0;
}
